<div>
  <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:#2E183B">
    <ul class="navbar-nav">
      <li>
        <img class="logo" src="/assets/blackcurrant.jpg" width="50" height="50"/>
      </li>
      <li class="nav-link" style="color:white; font-weight: bold;">
        Angular Technologies
      </li>
      <li class="nav-item ">
        <a routerLink="view-restaurant" class="nav-link" role="button" >View Restaurant</a>
      </li>&nbsp;
      <li class="nav-item">
        <a  routerLink="add-restaurant" class="nav-link" role="button" >Add Restaurant</a>
      </li>
      <li class="nav-item-dropdown">
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Dropdown Sample</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item menu-item" href="#">Option 1</a></li>
            <li><a class="dropdown-item menu-item" href="#">Option 2</a></li>
            <li><a class="dropdown-item menu-item" href="#">Option 3</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  <div style="background-color:#2E183B; color:white; padding-left:20px" class="font-small pt-4 mt-4">
    <div style="padding-left:20px, padding-right:20px">
      <div class="row">
        <div style="padding-left:5px" class="col-sm-3 col-md-3">
          <h5 class="title">Angular Technologies Limited</h5>
          <p>
            For any inquiries, please feel free to send an email to blackcurrant.solutions@gmail.com
          </p>
        </div>
        <div class="col-sm-2 col-md-2">
          <h5 class="title">Media</h5>
          <hr style="border:1px solid white"/>
          <ul><li><a href="#!">News and Stories</a></li>
            <li ><a href="#!">Ask us anything</a></li>
            <li ><a href="#!">Terms and Conditions</a></li>
            <li ><a href="#!">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-sm-2 col-md-2">
          <h5 class="title">Company</h5>
          <hr style="border:1px solid white"/>
          <ul><li ><a href="#!">About Us</a></li>
            <li ><a href="#!">Team</a></li>
            <li ><a href="#!">We're Hiring!'</a></li>
            <li ><a href="#!">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-sm-2 col-md-2">
          <h5 class="title">Business</h5>
          <hr style="border:1px solid white"/>
          <ul><li ><a href="#!">Advertise with React Technologies</a></li>
            <li ><a href="#!">Priority Placement</a></li>
            <li ><a href="#!">Site Map</a></li>
            <li ><a href="#!">Corporate Sponsoship</a></li>
          </ul>
        </div>
        <div class="col-sm-2 col-md-2">
          <h5 class="title">Countries</h5>
          <hr style="border:1px solid white"/>
          <ul><li ><a href="#!">Singapore</a></li>
            <li ><a href="#!">Hong Kong</a></li>
            <li ><a href="#!">Taiwan</a></li>
            <li ><a href="#!">China</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">
      <div>
        2021 Copyright to <a href="https://www.blackcurrant.com"> Angular Technologies Limited.</a>
      </div>
    </div>
  </div>
</div>
